<div class="site-header">
  <div class="container">
    <div class="head-wrap">
      <div class="head-title">
        <a href="/"><span class="head-title-desc">Learning App</span></a>
      </div>
      <div class="head-menu">
        <ul>
          <li><a href="/" class="active">Тесты</a></li>
          <li><a href="/groups/" class="active">Группы слов</a></li>
          <li><a href="/upload/" class="active">Загрузить список</a></li>
          <li><a href="/profile/" class="active">Личный кабинет</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
