<div class="site-header">
  <div class="container">
    <div class="head-wrap">
      <div class="head-title">
        <a href="/"><span class="head-title-desc">Learning App</span></a>
      </div>
      <div class="head-menu">
        <ul>
          <li><a routerLinkActive='active' routerLink="/test">Тесты</a></li>
          <li><a routerLinkActive='active' routerLink="/group">Группы слов</a></li>
          <li><a routerLinkActive='active' routerLink="/upload">Загрузить список</a></li>
          <li><a routerLinkActive='active' routerLink="/profile">Личный кабинет</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
